# folders and files to be ignored by git

############
## Bones
############

Bones.esproj/

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/
.codekit-cache
.atom*

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes

.svn

*.scssc
*.map

## Compiled by Gulp tasks
library/css
library/assets
library/fonts
library/js

## Source not needed in repo
**/bower_components
**/sourcemaps

src/node_modules
src/non-tasks
src/components/old-js
src/assets/images

config.codekit


gulpfile.js
